/* CONTROL BUTTONS */
.controlButton {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.wipe-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #dd1b1b; /* bg-red-600 */
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
  
.wipe-button:hover {
    background-color: #680e0e; /* hover:bg-red-500 */
}

.video-input button {
  padding: 8px 12px;
  background: #dfdb14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.video-input button:hover {
  background: #aaa825;
}