/* NAVIGATION BAR */
.navbar {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: #582d37;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    z-index: 1000; /* Ensures navbar stays on top of other content */
  }
  
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0; /* Reset margin to prevent spacing issues */
    padding: 0; /* Reset padding to prevent spacing issues */
  }
  
  .navbar ul li {
    margin-left: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #dfdb14;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #aaa825;
  }