.settings-container {
    max-width: 64rem; /* Equivalent to max-w-4xl */
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem; /* rounded-lg */
}
  
.settings-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
  
@media (min-width: 768px) {
    .settings-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
.settings-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
  
.settings-box {
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.customTime {
    color: white;
    padding: 0.5rem;
}
  
.danger-zone {
    text-align: center;
    font-size: 1.125rem; /* text-lg */
    font-weight: 600;
    color: white;
    margin-bottom: 0.5rem;
}
  