/* MAIN APP */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #582d37 30%, #FF8E53 90%);
  color: white;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease, color 0.3s ease;
}

label {
  margin-bottom: 10px;
}

/* DARK MODE THEME */
body.dark .App {
  background: linear-gradient(45deg, #392461 30%, #7630c5 90%);
  color: #e0e0e0;
}

/* CONTROL BUTTONS */
.controlButton {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background-color: #929010;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .controlButton {
  background-color: #444;
  color: white;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #dfdb14;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #aaa825;
}

/* DARK MODE NAVBAR */

body.dark .navbar ul li a {
  color: #bb86fc;
}

body.dark .navbar ul li a:hover {
  color: #9a6de9;
}
