/* MAIN APP */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #582d37 30%, #ff8e53 90%);
  color: white;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease, color 0.3s ease;
  padding: 60px 0 0 0; /* Adjusted padding to only have top padding for navbar */
}

/* DARK MODE THEME */
body.dark .App {
  background: linear-gradient(45deg, #392461 30%, #7630c5 90%);
  color: #e0e0e0;
}

/* CONTROL BUTTONS */
.controlButton {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background-color: #929010;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .controlButton {
  background-color: #444;
  color: white;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  background-color: #582d37;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
  z-index: 1000; /* Ensures navbar stays on top of other content */
}

body.dark .navbar {
  background-color: #392461; /* Added dark mode background for navbar */
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0; /* Reset margin to prevent spacing issues */
  padding: 0; /* Reset padding to prevent spacing issues */
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #dfdb14;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #aaa825;
}

/* DARK MODE NAVBAR */
body.dark .navbar ul li a {
  color: #bb86fc;
}

body.dark .navbar ul li a:hover {
  color: #9a6de9;
}